.keypad {
  max-width: 100%;
  margin-bottom: 1rem;
  @media (max-width:640px) {
    margin-bottom: 2rem;
    padding: 20px;
    margin-top: 10px;
  }
  .keyOne {
    display: flex;
  }
  .keyTwo {
    display: flex;
    justify-content: center;
  }
  .keyThree {
    display: flex;
  }

  .letter {
    cursor: pointer;
    margin: 5px;
    width: 42px;
    line-height: 50px;
    background: gray;
    border-radius: 6px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    @media (max-width:640px) {
      width: 42px;
    }
  }
}
