.gameContainer{
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;  
  padding-top: 100px;

  @media (max-width:640px) {
    justify-content: space-between;
    padding-top: 20px;
  }
}