$backgroundColor: #121212;
$borderColor: #3a3a3c;
$cellColor: #3a3a3c;
$backgroundCard: #121213;;

/* -------- COLOR GUESS ---------*/
$success: #528d4e;
$fail: #3a393c;
$almost: #b49f39;


$fontColor: white;


